/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
body {
  padding: 0;
  margin: 0;
}

html,
body,
#mapid {
  height: 100%;
  width: 100vw;
}
